body{
	font-family: Arial;
}

.inline {
	float: left;
}

#token {
	width: 350px;
}

.ui-menu { width: 350px; }

#contmy {
	visibility: hidden;
}

.directory{
	text-decoration: underline;
	cursor: pointer;
	font-weight: bold;
}
.file{
	cursor: pointer;
}

#root{
	cursor: pointer;
}

.activefile{
	color: #55FF55;
}